html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  // height: 100vh;
  // width: 100vh;
}

#_next {
  height: 100vh;
  width: 100vh;
}

  .FullStyle {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 7% 85% 8%;
    text-align: center;
    grid-template-columns: 100%;
    // align-items: center;
    .headerStyle {
      cursor: pointer;
      background-color: #f3ede5;
      box-shadow: 1px 1px 10px #e9e2d8;
      h2 {
        transform: translate(0, -25%);
      }
    }
    .FooterStyle {
      background-color: #f3ede5;
      box-shadow: 1px 1px 10px #e9e2d8;
      align-items: center;
      // width: 100%;
      grid-template-columns: 100%;
      .iconImg {
        // height: 100%;
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 10px;
        img{
          width: 40px;
          height: 40px;
          margin-top: 4px;
      
          
        }
      }
    }
  }
